/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pt
/storage/app/screenshots
/.env
/.env.backup
/.phpunit.result.cache
.DS_Store
/auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/kanban
/tests/e2e/.auth
/test-results
/playwright-report
